<h1> Ordering Page </h1>
<% if (user) { %>
  <div>
    <a href="/">Index</a>
  </div>
<% } %>
<ul>
    <% hhh.forEach((oneProduct, i) => { %>
  <section class="info-container">
        </section>
        <section id="items-list" class="container">
          <div class="item row">
            <div class="item-price col-xs-2">
            <img src=  <%= oneProduct.imageUrl %> >
           </div>
            <div class="item-name col-xs-2">
              <span><%= oneProduct.name %> </span>
            </div>
            <div class="item-price col-xs-2">
              <span>$<span id="productPrice<%= i %>"><%= oneProduct.price %></span> per case of 10 </span>
            </div>
            <div class="item-qty col-xs-3">
              <label>QTY</label>
              <input data-prev="0" data-index=" <%= i %>" class="quantity input" value="0">
            </div>

          </div>
        </section>
          <% }) %>
        </ul>
        <div class="item-subtotal col-xs-2">
          <span><h1>TOTAL PRICE:<span id="subtotal">$0.00</span></h1></span>
        </div>
        <div class="info-container">
          <div class="col-xs-3">
            <button id="calc-prices-button" type="button" class="btn btn-success">
             Calculate Prices
           </button>
         </div>
       </div>
        <form action="/order" method="post">
        <button type="submit">Place your Order</button>
      </form>

      <!-- <section>
        <div class="info-container">
          <h1 class="total-price-label">
            Total Price: <span id="total-price">$0.00</span>
          </h1>
        </div>
      </section> -->
